body {
  background-image: url(image/17503.jpg);
}
.image{
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

#panel {
  justify-content: center;
  text-align:center;
  margin-top: 2rem;
  display: inline-table;
  font-weight:600;
}
#filter-btn{
text-align: start;
display: inline-table;
font-weight:600;
}
#img-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#image{
  width: 700px;
  height: 420px;
  align-items: center;
}