body {
  background-image: url(image/17503.jpg);
}
img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

#panel {
  justify-content: center;
  text-align:center;
  margin-top: 2rem;
  display: inline-table;
  font-weight:600;
}
#filter-btn{
text-align: start;
display: inline-table;
font-weight:600;
}